body {
	text-align: center;
	background-color: #011f3f;
}

#level-title {
	font-family: "Press Start 2P", cursive;
	font-size: 3rem;
	margin: 5%;
	color: #fef2bf;
}

.container {
	display: block;
	width: 75%;
	margin: auto;
}

.row-2 {
	position: relative;
	right: 2.2rem;
	bottom: 10rem;
}

.row-3{
	position: relative;
	bottom: 21rem;
}

.green {
	height: 20rem;
	width: 25rem;
}

.red {
	margin-right: 1.5rem;
	height: 25rem;
	width: 25rem;
}

.blue {
	height: 20rem;
	width: 25rem;
}

.yellow {
	height: 25rem;
	width: 20rem;
}

.btn:hover{
  transform: scale(1.08);
}

.game-over {
	background-color: red;
	opacity: 0.8;
}

.pressed {
	box-shadow: 0 0 20px white;
	background-color: grey;
}
